.container {

    margin: auto;
    width: 100%;
    background-color: bisque;
}

.left-section {
    height: 297mm;
    width: 210mm;
}

.inlblc {
    display: inline-block;
}

.right-section {

    width: 400px;
    height: 500px;
    overflow: scroll;
    /* margin: 20px; */
    padding: 20px;
}

.right-section div {
    background-color: blanchedalmond;
    border: 2px solid brown;
    border-radius: 4px;
}

.top-section {
    height: 50px;
    width: 100%;
    overflow: scroll;

}

.middle-section-container {
    overflow: scroll;
    height: 500px;
    width: 100%;

}

.middle-section {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: unset;
}

.bottom-section {
    height: 50px;
    width: 100%;

}


#iframe_annotation {
    height: 100%;
    width: 100%;
}



#annotatedNodeElm {
    /* position: relative; */
    /* top: 0px;
left: 0px; */
}

.annotatedChild {}